dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Catalog</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <header class="h_cat">
      <div class="h__top">
        <div class="h__menu_wrap">
          <ul class="menu">
            <li> <a href="#">меню</a></li>
            <li> <a href="#">акции</a></li>
            <li> <a href="#">блог</a></li>
          </ul>
        </div>
        <div class="h__logo_wrap">
          <div class="logo">yappishop</div>
        </div>
        <div class="h__contacts_wrap">
          <div class="phone-block">
            <div class="phone"> +38 063 <span>123&#160; 45&#160; 67</span></div>
            <div class="phone-show">показать</div>
          </div>
          <div class="header__busket"> <a href="#">корзина<span>1</span></a></div>
        </div>
      </div>
      <div class="h__catalog">
        <ul>
          <li> <a href="#">планшеты</a></li>
          <li> <a href="#">ноутбуки</a></li>
          <li> <a href="#">аксуссуары</a></li>
        </ul>
      </div>
      <div class="h__body_cat">
        <div class="h__pagination">
          <ul>
            <li><a href="#">home /</a></li>
            <li><a href="#">sale accessories /</a></li>
          </ul>
        </div>
        <h1>Mens Accessories Mens</h1>
      </div>
    </header>
    <div class="main">
      <div class="main__filter">
        <div class="main__filter-title">подбор по параметрам:</div>
        <div class="main__filter-block">
          <h2>Тип матрицы:</h2>
          <form>
            <label>
              <input type="checkbox"><span>6" - 7.7" (63)</span>
            </label>
            <label>
              <input type="checkbox"><span>7.85" - 9.5" (10)</span>
            </label>
            <label>
              <input type="checkbox"><span>9.7" - 10" (1)</span>
            </label>
            <label>
              <input type="checkbox"><span>10.1" и больше</span>
            </label>
          </form>
        </div>
        <div class="main__filter-block">
          <h2>Тип матрицы:</h2>
          <form>
            <label>
              <input type="checkbox"><span>6" - 7.7" (63)</span>
            </label>
            <label>
              <input type="checkbox"><span>7.85" - 9.5" (10)</span>
            </label>
            <label>
              <input type="checkbox"><span>9.7" - 10" (1)</span>
            </label>
            <label>
              <input type="checkbox"><span>10.1" и больше</span>
            </label>
          </form>
        </div>
        <div class="main__filter-block">
          <h2>Тип матрицы:</h2>
          <form>
            <label>
              <input type="checkbox"><span>6" - 7.7" (63)</span>
            </label>
            <label>
              <input type="checkbox"><span>7.85" - 9.5" (10)</span>
            </label>
            <label>
              <input type="checkbox"><span>9.7" - 10" (1)</span>
            </label>
            <label>
              <input type="checkbox"><span>10.1" и больше</span>
            </label>
          </form>
        </div>
      </div>
      <div class="main__right">
        <div class="odering">сортировать: 
          <form action="" method="">
            <select> 
              <option>дороже</option>
              <option>дешевле</option>
            </select>
          </form>
        </div>
        <ul class="products">
          <li class="product"><a class="product__buy" href="#">КУПИТЬ</a>
            <div class="product__price">800<span>грн</span></div>
            <h3>Asus nexus me370t 7"</h3>
            <div class="product__cod">Код 562352</div><a href="#"><img src="images/no_product.jpg" alt=""></a>
          </li>
          <li class="product"><a class="product__buy" href="#">КУПИТЬ</a>
            <div class="product__price">800<span>грн</span></div>
            <h3>Asus nexus me370t 7"</h3>
            <div class="product__cod">Код 562352</div><a href="#"><img src="images/no_product.jpg" alt=""></a>
          </li>
          <li class="product"><a class="product__buy" href="#">КУПИТЬ</a>
            <div class="product__price">800<span>грн</span></div>
            <h3>Asus nexus me370t 7"</h3>
            <div class="product__cod">Код 562352</div><a href="#"><img src="images/product.jpg" alt=""></a>
          </li>
          <li class="product"><a class="product__buy" href="#">КУПИТЬ</a>
            <div class="product__price">800<span>грн</span></div>
            <h3>Asus nexus me370t 7"</h3>
            <div class="product__cod">Код 562352</div><a href="#"><img src="images/product.jpg" alt=""></a>
          </li>
          <li class="product"><a class="product__buy" href="#">КУПИТЬ</a>
            <div class="product__price">800<span>грн</span></div>
            <h3>Asus nexus me370t 7"</h3>
            <div class="product__cod">Код 562352</div><a href="#"><img src="images/product.jpg" alt=""></a>
          </li>
          <li class="product"><a class="product__buy" href="#">КУПИТЬ</a>
            <div class="product__price">800<span>грн</span></div>
            <h3>Asus nexus me370t 7"</h3>
            <div class="product__cod">Код 562352</div><a href="#"><img src="images/product.jpg" alt=""></a>
          </li>
          <li class="product"><a class="product__buy" href="#">КУПИТЬ</a>
            <div class="product__price">800<span>грн</span></div>
            <h3>Asus nexus me370t 7"</h3>
            <div class="product__cod">Код 562352</div><a href="#"><img src="images/product.jpg" alt=""></a>
          </li>
          <li class="product"><a class="product__buy" href="#">КУПИТЬ</a>
            <div class="product__price">800<span>грн</span></div>
            <h3>Asus nexus me370t 7"</h3>
            <div class="product__cod">Код 562352</div><a href="#"><img src="images/product.jpg" alt=""></a>
          </li>
          <li class="product"><a class="product__buy" href="#">КУПИТЬ</a>
            <div class="product__price">800<span>грн</span></div>
            <h3>Asus nexus me370t 7"</h3>
            <div class="product__cod">Код 562352</div><a href="#"><img src="images/no_product.jpg" alt=""></a>
          </li>
        </ul>
        <div class="main__pagination">
          <ul>
            <li class="paginat_direct"><a>назад</a></li>
            <li class="active_pagin"><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
            <li><a>5</a></li>
            <li><a>&#8230;</a></li>
            <li><a>17</a></li>
            <li class="paginat_direct direct_active"><a>вперед</a></li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <div class="f__logo_wrap">
        <div class="f__logo_wrap">
          <div class="logo">yappishop</div>
        </div>
      </div>
      <div class="f__menu_wrap">
        <ul class="menu">
          <li> <a>меню</a></li>
          <li> <a>акции</a></li>
          <li> <a>блог</a></li>
        </ul>
      </div>
      <div class="f__contacts_wrap">
        <div class="phone-block">
          <div class="phone"> +38 063 <span>123&#160; 45&#160; 67</span></div>
          <div class="phone-show">показать</div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="libs/jquery-migrate/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
  </body>
</html>

src/html/index.pug
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title Catalog
		link(rel="stylesheet" href="css/main.css")

	body
		header.h_cat
			.h__top

				.h__menu_wrap
					ul.menu
						li 
							a(href="#") меню
						li 
							a(href="#") акции
						li 
							a(href="#") блог

				.h__logo_wrap
					.logo yappishop
					
				.h__contacts_wrap

					.phone-block
						.phone  +38 063 
							span 123&#160; 45&#160; 67
						.phone-show показать

					.header__busket 
						a(href="#") корзина
							span 1

			.h__catalog
				ul
					li 
						a(href="#") планшеты
					li 
						a(href="#") ноутбуки
					li 
						a(href="#") аксуссуары

			.h__body_cat

				.h__pagination
					ul
						li
							a(href="#") home /
						li
							a(href="#") sale accessories /


				h1 Mens Accessories Mens

		.main

			.main__filter
				.main__filter-title подбор по параметрам:

				.main__filter-block

					h2 Тип матрицы:

					form
						label
							input(type="checkbox")
							span 6" - 7.7" (63)
						label
							input(type="checkbox")
							span 7.85" - 9.5" (10)
						label
							input(type="checkbox")
							span 9.7" - 10" (1)
						label
							input(type="checkbox")
							span 10.1" и больше
				
				.main__filter-block

					h2 Тип матрицы:

					form
						label
							input(type="checkbox")
							span 6" - 7.7" (63)
						label
							input(type="checkbox")
							span 7.85" - 9.5" (10)
						label
							input(type="checkbox")
							span 9.7" - 10" (1)
						label
							input(type="checkbox")
							span 10.1" и больше
				
				.main__filter-block

					h2 Тип матрицы:

					form
						label
							input(type="checkbox")
							span 6" - 7.7" (63)
						label
							input(type="checkbox")
							span 7.85" - 9.5" (10)
						label
							input(type="checkbox")
							span 9.7" - 10" (1)
						label
							input(type="checkbox")
							span 10.1" и больше

			.main__right

				.odering сортировать: 
					form(action="" method="")
						select 
							option дороже
							option дешевле

				ul.products

					li.product
						a(href="#").product__buy КУПИТЬ
						.product__price 800
							span грн
						h3 Asus nexus me370t 7"
						.product__cod Код 562352
						a(href="#")
							img(src="images/no_product.jpg" alt="")

					li.product
						a(href="#").product__buy КУПИТЬ
						.product__price 800
							span грн
						h3 Asus nexus me370t 7"
						.product__cod Код 562352
						a(href="#")
							img(src="images/no_product.jpg" alt="")

					li.product
						a(href="#").product__buy КУПИТЬ
						.product__price 800
							span грн
						h3 Asus nexus me370t 7"
						.product__cod Код 562352
						a(href="#")
							img(src="images/product.jpg" alt="")
					
					li.product
						a(href="#").product__buy КУПИТЬ
						.product__price 800
							span грн
						h3 Asus nexus me370t 7"
						.product__cod Код 562352
						a(href="#")
							img(src="images/product.jpg" alt="")
					
					li.product
						a(href="#").product__buy КУПИТЬ
						.product__price 800
							span грн
						h3 Asus nexus me370t 7"
						.product__cod Код 562352
						a(href="#")
							img(src="images/product.jpg" alt="")
					
					li.product
						a(href="#").product__buy КУПИТЬ
						.product__price 800
							span грн
						h3 Asus nexus me370t 7"
						.product__cod Код 562352
						a(href="#")
							img(src="images/product.jpg" alt="")
					
					li.product
						a(href="#").product__buy КУПИТЬ
						.product__price 800
							span грн
						h3 Asus nexus me370t 7"
						.product__cod Код 562352
						a(href="#")
							img(src="images/product.jpg" alt="")
					
					li.product
						a(href="#").product__buy КУПИТЬ
						.product__price 800
							span грн
						h3 Asus nexus me370t 7"
						.product__cod Код 562352
						a(href="#")
							img(src="images/product.jpg" alt="")

					li.product
						a(href="#").product__buy КУПИТЬ
						.product__price 800
							span грн
						h3 Asus nexus me370t 7"
						.product__cod Код 562352
						a(href="#")
							img(src="images/no_product.jpg" alt="")
				.main__pagination
					ul
						li.paginat_direct
							a назад
						li.active_pagin
							a 1
						li
							a 2
						li
							a 3
						li
							a 4
						li
							a 5
						li
							a &#8230;
						li
							a 17
						li.paginat_direct.direct_active
							a вперед

		footer
			.f__logo_wrap
				.f__logo_wrap
					.logo yappishop

			.f__menu_wrap
				ul.menu
					li 
						a меню
					li 
						a акции
					li 
						a блог

			.f__contacts_wrap

				.phone-block
					.phone  +38 063 
							span 123&#160; 45&#160; 67
					.phone-show показать



		script(type="text/javascript" src="libs/jquery/dist/jquery.min.js")
		script(type="text/javascript" src="libs/jquery-migrate/jquery-migrate.min.js")
		script(type="text/javascript" src="js/custom.js")
