src/html/product.pug
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title Product
		link(rel="stylesheet" href="css/main.css")

	body
		header
			.h__top

				.h__menu_wrap
					ul.menu
						li 
							a(href="#") меню
						li 
							a(href="#") акции
						li 
							a(href="#") блог

				.h__logo_wrap
					.logo yappishop
					
				.h__contacts_wrap

					.phone-block
						.phone +38 063 
							span 123&#160; 45&#160; 67
						.phone-show показать

					.header__busket 
						a(href="#") корзина
							span 1

			.h__catalog
				ul
					li 
						a(href="#") планшеты
					li 
						a(href="#") ноутбуки
					li 
						a(href="#") аксуссуары

			.h__body_prod

				.h__pagination
					ul
						li
							a(href="#") home /
						li
							a(href="#") sale accessories /


				h1 Мобильный телефон Samsung Galaxy J3 2016 J320H/DS Black + карта памяти 64гб в подарок! 

				.h__cod Код 562352


		.main

			.card__main-left

				.view-wrap
					.view-big
						img(src="http://placekitten.com/365/485" alt="")

					.view-small-wrap
						.view-small
							img(src="http://placekitten.com/75/100" alt="")
						.view-small
							img(src="http://placekitten.com/75/100" alt="")
						.view-small
							img(src="http://placekitten.com/75/100" alt="")
						.view-small
							img(src="http://placekitten.com/75/100" alt="")

				.spacific
					h4 характеристики:

					ul
						li Размер экрана: 	9.0"
						li Частота процессора:	1.0 GHz
						li Размер экрана: 	9.0"
						li Частота процессора:	1.0 GHz
						li Размер экрана: 	9.0"
						li Частота процессора:	1.0 GHz

			.card__main-right

				.descrip
					.descrip__color

						h5 Выбирите цвет:
						ul
							li.descrip_white.active_color
							li.descrip_black
							li.descrip_beige

					.descrip__memor

						h5 Выбирите объем памяти:
						ul
							li.active_memor 16 gb
							li 32 gb

					.descrip__descrip

						h4 Описание:
						p.
							2G: GSM 850 / 900 / 1800 / 1900, 3G: HSDPA 850 / 900 / 1700 / 1900 / 2100, 4G: LTE 700 / 800 / 850 / 1700 / 1900 / 2100 / 2600

						p.
							4.95-inch True HD IPS+ Capacitive Multi-Touchscreen w/ Protective Corning Gorilla Glass 3

						p.
							Android v4.4 (KitKat), upgradable to v4.4.2
							(KitKat), Quad-Core 2.3 GHz Krait 400 Processor, Chipset: Qualcomm MSM8974 Snapdragon 8, Adreno 330 Graphics
						p.
							8 Megapixel Camera (3264 x 2448 pixels) w/ Autofocus, LED Flash + Front-facing 1.3 Megapixel Camera
							Internal Memory: 16GB, 2GB RAM

				.price

					.price__amount 800
						span грн

						.price__buy
							a(href="#") купить

					.price_delivery

						h5 Доставка:

						table
							tr
								td Мист Экспресс
								td 35 грн
							tr
								td Новая почта
								td 35 грн
				
				.cross-sale
					h4 кросс-сейл:


					ul.products

						li.product
							a(href="#").product__buy КУПИТЬ
							.product__price 800
								span грн
							h3 Asus nexus me370t 7"
							.product__cod Код 562352
							a(href="#")
								img(src="images/product.jpg" alt="")

						li.product
							a(href="#").product__buy КУПИТЬ
							.product__price 800
								span грн
							h3 Asus nexus me370t 7"
							.product__cod Код 562352
							a(href="#")
								img(src="images/product.jpg" alt="")

						li.product
							a(href="#").product__buy КУПИТЬ
							.product__price 800
								span грн
							h3 Asus nexus me370t 7"
							.product__cod Код 562352
							a(href="#")
								img(src="images/product.jpg" alt="")

		footer
			.f__logo_wrap
				.f__logo_wrap
					.logo yappishop

			.f__menu_wrap
				ul.menu
					li 
						a меню
					li 
						a акции
					li 
						a блог

			.f__contacts_wrap

				.phone-block
					.phone  +38 063 
							span 123&#160; 45&#160; 67
					.phone-show показать





























			
		script(type="text/javascript" src="libs/jquery/dist/jquery.min.js")
		script(type="text/javascript" src="libs/jquery-migrate/jquery-migrate.min.js")
		script(type="text/javascript" src="js/custom.js")

dist/product.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Product</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <header>
      <div class="h__top">
        <div class="h__menu_wrap">
          <ul class="menu">
            <li> <a href="#">меню</a></li>
            <li> <a href="#">акции</a></li>
            <li> <a href="#">блог</a></li>
          </ul>
        </div>
        <div class="h__logo_wrap">
          <div class="logo"><a href="#">yappishop</a></div>
        </div>
        <div class="h__contacts_wrap">
          <div class="phone-block">
            <div class="phone">+38 063 <span>123&#160; 45&#160; 67</span></div>
            <div class="phone-show">показать</div>
          </div>
          <div class="header__busket"> <a href="#">корзина<span>1</span></a></div>
        </div>
      </div>
      <div class="h__catalog">
        <ul>
          <li> <a href="#">планшеты</a></li>
          <li> <a href="#">ноутбуки</a></li>
          <li> <a href="#">аксуссуары</a></li>
        </ul>
      </div>
      <div class="h__body_prod">
        <div class="h__pagination">
          <ul>
            <li><a href="#">home /</a></li>
            <li><a href="#">sale accessories /</a></li>
          </ul>
        </div>
        <h1>Мобильный телефон Samsung Galaxy J3 2016 J320H/DS Black + карта памяти 64гб в подарок! </h1>
        <div class="h__cod">Код 562352</div>
      </div>
    </header>
    <div class="main">
      <div class="card__main-left">
        <div class="view-wrap">
          <div class="view-big"><img src="http://placekitten.com/365/485" alt=""></div>
          <div class="view-small-wrap">
            <div class="view-small"><img src="http://placekitten.com/75/100" alt=""></div>
            <div class="view-small"><img src="http://placekitten.com/75/100" alt=""></div>
            <div class="view-small"><img src="http://placekitten.com/75/100" alt=""></div>
            <div class="view-small"><img src="http://placekitten.com/75/100" alt=""></div>
          </div>
        </div>
        <div class="spacific">
          <h4>характеристики:</h4>
          <ul>
            <li>Размер экрана: 	9.0"</li>
            <li>Частота процессора:	1.0 GHz</li>
            <li>Размер экрана: 	9.0"</li>
            <li>Частота процессора:	1.0 GHz</li>
            <li>Размер экрана: 	9.0"</li>
            <li>Частота процессора:	1.0 GHz</li>
          </ul>
        </div>
      </div>
      <div class="card__main-right">
        <div class="descrip">
          <div class="descrip__color">
            <h5>Выбирите цвет:</h5>
            <ul>
              <li class="descrip_white active_color"></li>
              <li class="descrip_black"></li>
              <li class="descrip_beige"></li>
            </ul>
          </div>
          <div class="descrip__memor">
            <h5>Выбирите объем памяти:</h5>
            <ul>
              <li class="active_memor">16 gb</li>
              <li>32 gb</li>
            </ul>
          </div>
          <div class="descrip__descrip">
            <h4>Описание:</h4>
            <p>
              2G: GSM 850 / 900 / 1800 / 1900, 3G: HSDPA 850 / 900 / 1700 / 1900 / 2100, 4G: LTE 700 / 800 / 850 / 1700 / 1900 / 2100 / 2600
              
            </p>
            <p>
              4.95-inch True HD IPS+ Capacitive Multi-Touchscreen w/ Protective Corning Gorilla Glass 3
              
            </p>
            <p>
              Android v4.4 (KitKat), upgradable to v4.4.2
              (KitKat), Quad-Core 2.3 GHz Krait 400 Processor, Chipset: Qualcomm MSM8974 Snapdragon 8, Adreno 330 Graphics
            </p>
            <p>
              8 Megapixel Camera (3264 x 2448 pixels) w/ Autofocus, LED Flash + Front-facing 1.3 Megapixel Camera
              Internal Memory: 16GB, 2GB RAM
              
            </p>
          </div>
        </div>
        <div class="price">
          <div class="price__amount">800<span>грн</span>
            <div class="price__buy"><a href="#">купить</a></div>
          </div>
          <div class="price_delivery">
            <h5>Доставка:</h5>
            <table>
              <tr>
                <td>Мист Экспресс</td>
                <td>35 грн</td>
              </tr>
              <tr>
                <td>Новая почта</td>
                <td>35 грн</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="cross-sale">
          <h4>кросс-сейл:</h4>
          <ul class="products">
            <li class="product"><a class="product__buy" href="#">КУПИТЬ</a>
              <div class="product__price">800<span>грн</span></div>
              <h3>Asus nexus me370t 7"</h3>
              <div class="product__cod">Код 562352</div><a href="#"><img src="images/product.jpg" alt=""></a>
            </li>
            <li class="product"><a class="product__buy" href="#">КУПИТЬ</a>
              <div class="product__price">800<span>грн</span></div>
              <h3>Asus nexus me370t 7"</h3>
              <div class="product__cod">Код 562352</div><a href="#"><img src="images/product.jpg" alt=""></a>
            </li>
            <li class="product"><a class="product__buy" href="#">КУПИТЬ</a>
              <div class="product__price">800<span>грн</span></div>
              <h3>Asus nexus me370t 7"</h3>
              <div class="product__cod">Код 562352</div><a href="#"><img src="images/product.jpg" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <div class="f__logo_wrap">
        <div class="f__logo_wrap">
          <div class="logo">yappishop</div>
        </div>
      </div>
      <div class="f__menu_wrap">
        <ul class="menu">
          <li> <a>меню</a></li>
          <li> <a>акции</a></li>
          <li> <a>блог</a></li>
        </ul>
      </div>
      <div class="f__contacts_wrap">
        <div class="phone-block">
          <div class="phone"> +38 063 <span>123&#160; 45&#160; 67</span></div>
          <div class="phone-show">показать</div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="libs/jquery-migrate/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
  </body>
</html>
